.logos7-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.logos7-max-width {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logos7-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logos7-container02 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.logos7-container03 {
  gap: 0;
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.logos7-logo1 {
  object-fit: contain;
}
.logos7-container04 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.logos7-logo2 {
  object-fit: contain;
}
.logos7-container05 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.logos7-logo3 {
  object-fit: contain;
}
.logos7-container06 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.logos7-logo4 {
  object-fit: contain;
}
.logos7-container07 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.logos7-logo5 {
  object-fit: contain;
}
.logos7-container08 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.logos7-logo6 {
  object-fit: contain;
}
.logos7-container09 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.logos7-logo7 {
  object-fit: contain;
}
.logos7-container10 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.logos7-logo8 {
  object-fit: contain;
}
.logos7-container11 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.logos7-logo9 {
  object-fit: contain;
}
.logos7-container12 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.logos7-logo10 {
  object-fit: contain;
}
.logos7-container13 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.logos7-logo11 {
  object-fit: contain;
}
.logos7-text1 {
  display: inline-block;
  text-align: center;
}
@media(max-width: 991px) {
  .logos7-container02 {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    padding: var(--dl-space-space-threeunits);
  }
  .logos7-container03 {
    width: 30%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container04 {
    width: 30%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container05 {
    width: 30%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container06 {
    width: 30%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container07 {
    width: 30%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container08 {
    width: 30%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container09 {
    width: 30%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container10 {
    width: 30%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container11 {
    width: 30%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container12 {
    width: 30%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container13 {
    width: 30%;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .logos7-container02 {
    padding: var(--dl-space-space-twounits);
  }
  .logos7-container03 {
    width: 40%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container04 {
    width: 40%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container05 {
    width: 40%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container06 {
    width: 40%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container07 {
    width: 40%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container08 {
    width: 40%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container09 {
    width: 40%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container10 {
    width: 40%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container11 {
    width: 40%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container12 {
    width: 40%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container13 {
    width: 40%;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .logos7-container {
    gap: var(--dl-space-space-unit);
  }
  .logos7-container02 {
    gap: var(--dl-space-space-unit);
    padding: var(--dl-space-space-unit);
  }
  .logos7-container03 {
    width: 45%;
  }
  .logos7-container04 {
    width: 45%;
  }
  .logos7-container05 {
    width: 45%;
  }
  .logos7-container06 {
    width: 45%;
  }
  .logos7-container07 {
    width: 45%;
  }
  .logos7-container08 {
    width: 45%;
  }
  .logos7-container09 {
    width: 45%;
  }
  .logos7-container10 {
    width: 45%;
  }
  .logos7-container11 {
    width: 45%;
  }
  .logos7-container12 {
    width: 45%;
  }
  .logos7-container13 {
    width: 45%;
  }
}
