body {
	width: 100%;
	margin: 0;
	display: flex;
	min-height: 100vh; /*always have atleast the height of viewport*/
    font-family:Arial, Helvetica, sans-serif;
}

main {
	flex: 2;
	background: #F7B2AD;
	display: flex;
	flex-direction: column;
	font-size: 1.3rem;
	line-height: 1.5;
}

section {
	padding: 20px;
	flex-grow: 1; /*magical line*/
}

aside {
	flex: 1;
	background: #9ABCA7;
	padding: 20px;
	font-size: 1.5rem;
	line-height: 1.4;
}

footer {
	padding: 20px;
    color: white;
	background: #333232;
/* margin-top: auto;/* /*another magical line*/ 
}

@media screen and (max-width: 767px) {
	body {
		flex-direction: column-reverse;
	}
}

code {
	background: yellow;
	padding: 2px 5px;
	white-space: nowrap;
}