.logos7-container35 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.logos7-max-width5 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logos7-container36 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logos7-container37 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.logos7-container38 {
  gap: 0;
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.logos7-logo1 {
  object-fit: contain;
}
.logos7-container39 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.logos7-logo2 {
  object-fit: contain;
}
.logos7-container40 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.logos7-logo3 {
  object-fit: contain;
}
.logos7-container41 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.logos7-logo4 {
  object-fit: contain;
}
.logos7-container42 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.logos7-logo5 {
  object-fit: contain;
}
.logos7-container43 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.logos7-logo6 {
  object-fit: contain;
}
.logos7-container44 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.logos7-logo7 {
  object-fit: contain;
}
.logos7-container45 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.logos7-logo8 {
  object-fit: contain;
}
.logos7-container46 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.logos7-logo9 {
  object-fit: contain;
}
.logos7-container47 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.logos7-logo10 {
  object-fit: contain;
}
.logos7-container48 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.logos7-logo11 {
  object-fit: contain;
}
.logos7-text {
  display: inline-block;
  text-align: center;
}
@media(max-width: 991px) {
  .logos7-container37 {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    padding: var(--dl-space-space-threeunits);
  }
  .logos7-container38 {
    width: 30%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container39 {
    width: 30%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container40 {
    width: 30%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container41 {
    width: 30%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container42 {
    width: 30%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container43 {
    width: 30%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container44 {
    width: 30%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container45 {
    width: 30%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container46 {
    width: 30%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container47 {
    width: 30%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container48 {
    width: 30%;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .logos7-container37 {
    padding: var(--dl-space-space-twounits);
  }
  .logos7-container38 {
    width: 40%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container39 {
    width: 40%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container40 {
    width: 40%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container41 {
    width: 40%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container42 {
    width: 40%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container43 {
    width: 40%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container44 {
    width: 40%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container45 {
    width: 40%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container46 {
    width: 40%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container47 {
    width: 40%;
    align-items: center;
    justify-content: center;
  }
  .logos7-container48 {
    width: 40%;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .logos7-container35 {
    gap: var(--dl-space-space-unit);
  }
  .logos7-container37 {
    gap: var(--dl-space-space-unit);
    padding: var(--dl-space-space-unit);
  }
  .logos7-container38 {
    width: 45%;
  }
  .logos7-container39 {
    width: 45%;
  }
  .logos7-container40 {
    width: 45%;
  }
  .logos7-container41 {
    width: 45%;
  }
  .logos7-container42 {
    width: 45%;
  }
  .logos7-container43 {
    width: 45%;
  }
  .logos7-container44 {
    width: 45%;
  }
  .logos7-container45 {
    width: 45%;
  }
  .logos7-container46 {
    width: 45%;
  }
  .logos7-container47 {
    width: 45%;
  }
  .logos7-container48 {
    width: 45%;
  }
}

.features23-layout3491 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.features23-max-width6 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.features23-container49 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
}
.features23-container51 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 2px 2px 4px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent1);
}
.features23-image14 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.features23-container52 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 2px 2px 4px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent2);
}
.features23-image15 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.features23-container53 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 2px 2px 4px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent1);
}
.features23-image16 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.features23-container54 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 2px 2px 4px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent2);
}
.features23-image17 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.features23-container55 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 2px 2px 4px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent1);
}
.features23-image18 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.features23-container56 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 2px 2px 4px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent2);
}
.features23-image19 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.features23-text01 {
  display: inline-block;
}
.features23-text02 {
  display: inline-block;
  text-align: left;
}
.features23-text03 {
  display: inline-block;
  text-align: center;
}
.features23-text04 {
  display: inline-block;
}
.features23-text05 {
  display: inline-block;
}
.features23-text06 {
  display: inline-block;
  text-align: left;
}
.features23-text07 {
  display: inline-block;
  text-align: left;
}
.features23-text08 {
  display: inline-block;
}
.features23-text09 {
  display: inline-block;
  text-align: left;
}
.features23-text10 {
  display: inline-block;
  text-align: left;
}
.features23-text11 {
  display: inline-block;
  text-align: left;
}
.features23-text12 {
  display: inline-block;
}
.features23-text13 {
  display: inline-block;
}
.features23-text14 {
  display: inline-block;
}
.features23-text15 {
  display: inline-block;
}
@media(max-width: 991px) {
  .features23-max-width6 {
    flex-direction: column;
  }
  .features23-container49 {
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .features23-container49 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .features23-container51 {
    width: 100%;
  }
  .features23-container52 {
    width: 100%;
  }
  .features23-container53 {
    width: 100%;
  }
  .features23-container54 {
    width: 100%;
  }
  .features23-container55 {
    width: 100%;
  }
  .features23-container56 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .features23-max-width6 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .features23-button {
    width: 100%;
  }
}

.features22-layout3492 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.features22-max-width7 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.features22-container57 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  max-width: 600px;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.features22-container58 {
  width: 100%;
}
.features22-card08 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary2);
}
.features22-image20 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.features22-card09 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary1);
}
.features22-image21 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.features22-card10 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary2);
}
.features22-image22 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.features22-card11 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary1);
}
.features22-image23 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.features22-card12 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary1);
}
.features22-image24 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.features22-card13 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary2);
}
.features22-image25 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.features22-card14 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary1);
}
.features22-image26 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.features22-card15 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary2);
}
.features22-image27 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.features22-text16 {
  display: inline-block;
  text-align: center;
}
.features22-text17 {
  display: inline-block;
  text-align: center;
}
.features22-text18 {
  display: inline-block;
}
.features22-text19 {
  display: inline-block;
  text-align: center;
}
.features22-text20 {
  display: inline-block;
}
.features22-text21 {
  display: inline-block;
  text-align: center;
}
.features22-text22 {
  display: inline-block;
}
.features22-text23 {
  display: inline-block;
}
.features22-text24 {
  display: inline-block;
  text-align: center;
}
.features22-text25 {
  display: inline-block;
}
.features22-text26 {
  display: inline-block;
  text-align: center;
}
.features22-text27 {
  display: inline-block;
  text-align: center;
}
.features22-text28 {
  display: inline-block;
  text-align: center;
}
.features22-text29 {
  display: inline-block;
}
.features22-text30 {
  display: inline-block;
  text-align: center;
}
.features22-text31 {
  display: inline-block;
}
.features22-text32 {
  display: inline-block;
}
.features22-text33 {
  display: inline-block;
}
@media(max-width: 991px) {
  .features22-max-width7 {
    flex-direction: column;
  }
  .features22-container57 {
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .features22-container57 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .features22-card08 {
    width: 100%;
  }
  .features22-card09 {
    width: 100%;
  }
  .features22-card10 {
    width: 100%;
  }
  .features22-card11 {
    width: 100%;
  }
  .features22-card12 {
    width: 100%;
  }
  .features22-card13 {
    width: 100%;
  }
  .features22-card14 {
    width: 100%;
  }
  .features22-card15 {
    width: 100%;
  }
}

.gallery1-gallery31 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery1-max-width08 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery1-section-title1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery1-content1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.gallery1-container59 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery1-container60 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery1-container61 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery1-text34 {
  display: inline-block;
  text-align: center;
}
.gallery1-text35 {
  display: inline-block;
  text-align: center;
}
@media(max-width: 991px) {
  .gallery1-content1 {
    align-items: center;
    flex-direction: column;
  }
}

.gallery11-gallery32 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery11-max-width09 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery11-section-title2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery11-content2 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.gallery11-container62 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery11-container63 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery11-text36 {
  display: inline-block;
  text-align: center;
}
.gallery11-text37 {
  display: inline-block;
  text-align: center;
}
@media(max-width: 991px) {
  .gallery11-content2 {
    align-items: center;
    flex-direction: column;
  }
}

.steps2-container64 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.steps2-max-width10 {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.steps2-container65 {
  grid-area: span 1/span 1/span 1/span 1;
}
.steps2-container66 {
  top: 10%;
  position: sticky;
  transform: rotate(-2deg);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-theme-accent1);
}
.steps2-text172 {
  top: var(--dl-space-space-unit);
  right: var(--dl-space-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
.steps2-container67 {
  top: 10%;
  position: sticky;
  transform: rotate(2deg);
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-theme-accent2);
}
.steps2-text175 {
  top: var(--dl-space-space-unit);
  right: var(--dl-space-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
.steps2-container68 {
  top: 10%;
  position: sticky;
  transform: rotate(-2deg);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-theme-accent1);
}
.steps2-text178 {
  top: var(--dl-space-space-unit);
  right: var(--dl-space-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
.steps2-container69 {
  top: 10%;
  position: sticky;
  transform: rotate(2deg);
  background-color: var(--dl-color-theme-accent2);
}
.steps2-text181 {
  top: var(--dl-space-space-unit);
  right: var(--dl-space-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
.steps2-text38 {
  display: inline-block;
  text-align: center;
}
.steps2-text39 {
  display: inline-block;
  text-align: center;
}
.steps2-text40 {
  display: inline-block;
}
.steps2-text41 {
  display: inline-block;
  text-align: center;
}
.steps2-text42 {
  display: inline-block;
}
.steps2-text43 {
  display: inline-block;
}
.steps2-text44 {
  display: inline-block;
  text-align: center;
}
.steps2-text45 {
  display: inline-block;
}
@media(max-width: 991px) {
  .steps2-max-width10 {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .steps2-container66 {
    width: 100%;
  }
  .steps2-container67 {
    width: 100%;
  }
  .steps2-container68 {
    width: 100%;
  }
  .steps2-container69 {
    width: 100%;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-text {
  display: inline-block;
  text-align: center;
}
.home-text01 {
  display: inline-block;
}
.home-text02 {
  display: inline-block;
  text-align: left;
}
.home-text03 {
  display: inline-block;
  text-align: center;
}
.home-text04 {
  display: inline-block;
}
.home-text05 {
  display: inline-block;
}
.home-text06 {
  display: inline-block;
  text-align: left;
}
.home-text07 {
  display: inline-block;
  text-align: left;
}
.home-text08 {
  display: inline-block;
}
.home-text09 {
  display: inline-block;
  text-align: left;
}
.home-text10 {
  display: inline-block;
  text-align: left;
}
.home-text11 {
  display: inline-block;
  text-align: left;
}
.home-text12 {
  display: inline-block;
}
.home-text13 {
  display: inline-block;
}
.home-text14 {
  display: inline-block;
}
.home-text15 {
  display: inline-block;
}
.home-text16 {
  display: inline-block;
  text-align: center;
}
.home-text17 {
  display: inline-block;
  text-align: center;
}
.home-text18 {
  display: inline-block;
}
.home-text19 {
  display: inline-block;
  text-align: center;
}
.home-text20 {
  display: inline-block;
}
.home-text21 {
  display: inline-block;
  text-align: center;
}
.home-text22 {
  display: inline-block;
}
.home-text23 {
  display: inline-block;
}
.home-text24 {
  display: inline-block;
  text-align: center;
}
.home-text25 {
  display: inline-block;
}
.home-text26 {
  display: inline-block;
  text-align: center;
}
.home-text27 {
  display: inline-block;
  text-align: center;
}
.home-text28 {
  display: inline-block;
  text-align: center;
}
.home-text29 {
  display: inline-block;
}
.home-text30 {
  display: inline-block;
  text-align: center;
}
.home-text31 {
  display: inline-block;
}
.home-text32 {
  display: inline-block;
}
.home-text33 {
  display: inline-block;
}
.home-text34 {
  display: inline-block;
  text-align: center;
}
.home-text35 {
  display: inline-block;
  text-align: center;
}
.home-text36 {
  display: inline-block;
  text-align: center;
}
.home-text37 {
  display: inline-block;
  text-align: center;
}
.home-text38 {
  display: inline-block;
  text-align: center;
}
.home-text39 {
  display: inline-block;
  text-align: center;
}
.home-text40 {
  display: inline-block;
}
.home-text41 {
  display: inline-block;
  text-align: center;
}
.home-text42 {
  display: inline-block;
}
.home-text43 {
  display: inline-block;
}
.home-text44 {
  display: inline-block;
  text-align: center;
}
.home-text45 {
  display: inline-block;
}
