
body {
    font-family: system-ui;

	background-image: linear-gradient(to right, #bce0f0 0%, #bfe9ff  51%, #6ee7ff  100%);

	
	/*background: #ee9ca7;  /* fallback for old browsers */
	/*background: linear-gradient(to right, #ffdde1, #ee9ca7); */


	/*background: linear-gradient(-45deg, #185beb, #d190f2, #ff3091);*/
	/*background-size: 1000%;*/

	/*
    background-size:10000%;
	animation: gradient 30s ease infinite;
	height: 100vh;*/
	
	padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*FOR TABLE*/
table, th, td {
	border: 1px solid rgb(45, 45, 45);
	border-collapse: collapse;
	text-align:start;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

summary{
	font-family: system-ui;
    font-size: 20px;
}


.collapsible {

	font-family: system-ui;
    font-size: 20px;
	
	background-image: linear-gradient(to right, #6db3ec 0%, #bfe9ff 100%);
	margin-top: 5px;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: center;
	outline: none;

	
	
}
.active, .collapsible:hover {
	color: #fff;
	text-decoration: none;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
}
.content {
	padding: 30px;
	display: none;
	overflow: hidden;
	background-color: #89d3fb;
}

